.git
.gitignore
*.log
*~

*.pyc
*__pycache__/
.venv/

node_modules/

.vscode/
.sass-cache/

.mypy_cache/

eslint.config.mjs

*.pdf

public/
built/
data/

getText/PDF/
getText/TXT/
getText/merged_*
getText/PDF*/
getText/TXT*/
getText/merged_file*

