.git
.gitignore
*.log
*.aux
*~

repo_dump.txt
repo_dump_response.txt


*.pyc
*__pycache__/

node_modules/
.ruff_cache/

.vscode/
.sass-cache/

.mypy_cache/

*.pdf

.aider*

public/
built/
data/

getText/PDF/
getText/TXT/
getText/merged_*
getText/PDF*/
getText/TXT*/
getText/merged_file*

