.git
.gitignore
*.log
*.aux
*~


*.pyc
*__pycache__/

node_modules/
.ruff_cache/

.vscode/
.sass-cache/

.mypy_cache/

eslint.config.mjs

*.pdf

public/
built/
data/

getText/PDF/
getText/TXT/
getText/merged_*
getText/PDF*/
getText/TXT*/
getText/merged_file*

