~*
#*
.*
*.log
*.pyc
node_modules/
gpt-2/
getText/PDF/
getText/TXT/
getText/merged_*
data/
private/
public/
*__pycache__/
rawData/
artillery_*
getText/PDF*/
getText/TXT*/
getText/merged_file*
venv/*
econstormodel/
.sass-cache/

*deployment.yaml
*service.yaml

.vscode/


docker-compose.yaml	# because there are many.
