gpt-2/
getText/PDF/
getText/TXT/
getText/merged_*
~*
#*
.*
bower_components/
data/
private/
node_modules/
public/
*.log
*.pyc
*__pycache__/
rawData/
artillery_*
getText/PDF*/
getText/TXT*/
getText/merged_file*
venv/*
econstormodel/
