*.log
*.aux
*~

repo_dump.txt
repo_dump_response.txt

.env

*.pyc
*__pycache__/
.venv/

node_modules/
.ruff_cache/

.vscode/
.sass-cache/

.mypy_cache/

*.pdf

.aider*

public/
built/
private/
data/

getText/PDF/
getText/TXT/
getText/merged_*
getText/PDF*/
getText/TXT*/
getText/merged_file*
econstormodel/

