[Unit]
Description=Artificial Economist Node
Documentation=https://www.artificialeconomist.com
After=network.target

[Service]
Type=simple
User=adam
ExecStart=/usr/bin/node /home/adam/Projects/GPT-2-FCA/server.js
WorkingDirectory=/home/adam/Projects/GPT-2-FCA
Restart=always
WatchogSec=604800

[Install]
WantedBy=multi-user.target

