[Unit]
Description=Artificial Economist Python
Documentation=https://www.artificialeconomist.com
After=network.target

[Service]
#WorkingDirectory=/home/adam/Projects/artificialEconomist/gpt-2/
Type=simple
User=adam
ExecStart=/usr/bin/python3 /home/adam/Projects/artificialEconomist/start_server.py
Restart=always
WatchogSec=604800

[Install]
WantedBy=multi-user.target

