doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description", content="Artificial Economist")

		title Artificial Economist

		//link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/packages/bootstrap/css/bootstrap.min.css")

		//script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src="/packages/jquery/jquery.min.js")
		//script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
		script(src="/packages/popper.js/popper.min.js")
		//script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
		script(src="/packages/bootstrap/js/bootstrap.min.js")

		//script#MathJax-script(async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")
		script#MathJax-script(async src="/packages/mathjax/tex-mml-chtml.js")

	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
			a.navbar-brand.abs(href='/') Artificial Economist
			button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
				span.navbar-toggler-icon
			div.collapse.navbar-collapse#navbarNavAltMarkup
				ul.navbar-nav
					li.nav-item
						a.nav-link(href="/examples") Examples
					li.nav-item
						a.nav-link(href="/about") About
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#", id=navbarOther, role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Other projects
						div.dropdown-menu(aria-labelledby="navbarOther")
							//a.dropdown-item(href="https://www.artificialeconomist.com") ArtificialEconomist.com
							a.dropdown-item(href="https://www.economoose.com") Economoose.com
							a.dropdown-item(href="https://www.yetipredict.com") YetiPredict.com
				ul.navbar-nav.ml-auto
					li.nav-item
						a.nav-link(href="https://www.bou.lt") Bou.lt
					li.nav-item
						a.nav-link(href="https://github.com/adamdboult/") GitHub
					li.nav-item
						a.nav-link(href="https://www.linkedin.com/in/adamdboult") LinkedIn

		.container
			block content

