/*
 {
  margin:0;
  padding:0;
}
*/

.MathJax_Display {
  text-align: left !important;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

/* navbar 
.navbar-default {
    background-color: #CFDFE3;
    border-color: #E7E7E7;
}*/

div.tooltip {   
  position: absolute;
  text-align: left;
  /*width: 60px;
  height: 35px;*/
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
/*
#main{
	width:100%;
}
*/

.btn {
      white-space: normal;
}

/*
body, html {
	height: 100%;
	overflow: hidden;
}*/
/*
body, html {
	height: 100%;
}
*/
/*
@media screen and (min-width:767px){
	.mygrid-wrapper-div {
		height: 100%;
		overflow-y: scroll;
	}
}
*/
/*
.navbar-lower {
	      padding-top:50px;
	      margin-bottom:0px;
	      z-index:5;
}
*/
/*
.fill {
	height:100%;
	padding-top:60px;
}
*/
/*
.predict {
	height:100%;
	paddding-top:100x;
}
*/

.groupListHide {
	display: none;
}
