doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Artificial Economist")

		title Artificial Economist

		// JQUERY.JS
		link(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
		document.write('<script src="/js/jquery.min.js"><\/script>')
		<script src="/js/jquery.min.js"><\/script>
		//script(window.jQuery | document.write('<script src="/js/jquery.min.js"><\/script>'))

		// MATHJAX.JS
		//script(type="text/x-mathjax-config" MathJax.Hub.Config({tex2jax: {}}))
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/config/TeX-AMS-MML_HTMLorMML.js")
		script(type="text/javascript" src="/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")

		//BOOTSTRAP.JS
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")				
		link(href="/css/bootstrap.js")

		//BOOTSTRAP.CSS
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

		//OTHER

		link(href="/css/styles.css", rel='stylesheet')


		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")


		//script(src="/js/coreHeader.js")





	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='/') Artificial Economist
			button.navbar-toggler(type="button", data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			div.collapse.navbar-collapse(id="navbarSupportedContent")
				ul.navbar-nav.mr-auto
					//li
					//	a(href="/news/") News
					//li
					//	a(href="/models/") Models
					//li
					//	a(href="https://github.com/adamdboult/yetipredict.git") Github
				ul.nav.navbar-nav.navbar-right
					li.nav-item
						a.nav-link(href="https://www.bou.lt") Adam Boult
					li.nav-item
						a.nav-link(href="https://www.yetipredict.com") YetiPredict
					li
						a(href="/about/") About

		block content

