extends templates/loginHeader.pug

block content
	br
	div.jumbotron
		h1.bs-docs-featurette-title Artificial Economist
		p An artificial economist trained on publicly available economics.
		p This model is based on GPT-2 (117M).
		//p Right now this is just the base GPT-2 model, and has not been retrained on economics data. Check back later for that!

	h1
		b Model
	p GPT-2
	h1
		b Data
	p Econstor and manual data.

