extends templates/loginHeader.jade

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title Adam Boult | About
			p.lead Adam Boult's personal website
		footer
			h3 Contact
			p.version Created by Adam Boult
			a(href="https://github.com/adamdboult/") GitHub
			br
			a(href="https://wwww.linkedin.com/in/adamdboult") LinkedIn
