extends templates/loginHeader.jade

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title This Economist Does Not Exist | About
			p.lead A modest proposal for replacing economic advice
		footer
			h3 Contact
			p.version Created by Adam Boult
			a(href="https://github.com/adamdboult/") GitHub
			br
			a(href="https://wwww.linkedin.com/in/adamdboult") LinkedIn
