extends templates/loginHeader.jade

block content
	.container
		br
		div.jumbotron
			h1.bs-docs-featurette-title Artificial Economist
			p An artificial economist trained on publicly available economics.
			p Please allow a few minutes for me to respond. I live on a modest Nvidia Jetson Nano (without enough RAM to run in GPU mode...).
			p This model is based on GPT-2 (117M).
			//p Right now this is just the base GPT-2 model, and has not been retrained on economics data. Check back later for that!
		form
			div.form-group
				label(for="question") What is your question?
				textarea.form-control(id="question" rows=3)
			//input(type="text" name="question" id="question")
			button.btn.btn-primary(id="submitButton" type="button") Ask question	
			button.btn.btn-default(id="waitButton" type="button") Please wait
		br
		br
		div.card
			div.card-body
				h4.class-title(id = "questionResponseHeader") 
				p.class-text(id = "questionResponse") 
		//div.panel.panel-default
		//	div.panel-heading
		//		h1(id="questionResponseHeader") Response
		//	div.panel-body
		//		p(id="questionResponse")
		//p(id="demo")
		script
			| function waitForStatus(id) {
			| 	var count = 0;
			| 	var restartCheck = setInterval(function() {
			| 		count++;
			| 		$.ajax({
			| 			url: "check_answer",
			| 			type: "POST",
			| 			data: id,
			| 			success: function(result) {
			| 				console.log(count);
			| 				console.log(result);
			| 				if (result != "BBnoresponse") {
			| 					newResult = result.replace(/\n/g, '<br/>')
			| 					$("#questionResponse").html(newResult);
			| 					$("#submitButton").show();
			| 					$("#waitButton").hide();
			| 					clearInterval(restartCheck);
			| 					
			| 				}
			| 				
			| 			}
			| 			
			| 		});
			|       }, 5000);
			| }
			| $(document).ready(function(){
			| 	$("#waitButton").hide()
			| 	$("#submitButton").click(function(){
			|   		var question = document.getElementById("question").value;
			| 		console.log(question);
			| 		$("#submitButton").hide();
			| 		$("#waitButton").show();
			| 		$("#questionResponseHeader").html(question)
			| 		$.ajax({type: "POST", url: "submit_question", data: question, success: function(result){
			| 			console.log("Got initial response!");
			| 			console.log(result);
			| 			waitForStatus(result);
			| 			//newResult = result.replace(/\n/g, '<br/>')
			| 			//$("#questionResponse").html(newResult);
			| 			//$("#submitButton").show();
			| 			//$("#waitButton").hide();
			| 		}});
			| 		$("#questionResponse").html("<i>Please wait...</i>");
			| 	});
			| });
		//	| document.getElementById("demo").innerHTML = "Hello JavaScript!";
		//	| function loadDoc() {
		//	|   console.log("hi")
		//	|   var params={};
		//	|   var question = document.getElementById("question").value;
		//	|   params.question=question;
		//	|   console.log("sending question" + question)
		//	|   var xhttp = new XMLHttpRequest();
		//	|   xhttp.onreadystatechange = function() {
		//	|     if (this.readyState == 4 && this.status == 200) {
		//	|      document.getElementById("demo").innerHTML = this.responseText;
		//	|     }
		//	|   };
		//	|   xhttp.open("POST", "submit_question", true);
		//	|   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		//	|   xhttp.send(question);
		//	|   console.log(question);
		//	| }

